<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registeration Form</title>
</head>
<h1>
    Kindly Fill all the details of student correctly to register
</h1>
    <form action=""method="post">
        {% csrf_token %}
        <table border="0" cellpadding="5" cellspacing="5"  align ="center">
            <tr>
                <td>
                    Name:  {{stud.sname}}
                </td>
            </tr>
            <tr>
                <td>
                    Father's Name:  {{stud.fname}}
                </td>
            </tr>
            <tr>
                <td>
                    Mother's Name:  {{stud.mname}}
                </td>
            </tr>
            <tr>
                <td>
                    Date of birth:  {{stud.sbirth}}
                </td>
            </tr>
            <tr>
                <td>
                    Class:  {{stud.sclass}}
                </td>
            </tr>
            <tr>
                <td>
                    Contact Number:  {{stud.sno}}
                </td>
            </tr>
            <tr>
                <td>Gender:{{stud.sgender}}
                    <label><input type="radio" name="sgender" value="male"> Male</label>
                    <label><input type="radio" name="sgender" value="female"> Female</label>
                    <label><input type="radio" name="sgender" value="others"> Other</label>
                    <br>
                </td>
            </tr>

        <br>
            <tr>
                <td>
                    <input type="submit" value="Register"/>
                </td>
            </tr>



    </form>
<body>

</body>
</html>